.App-logo {
  height: 200px;
  pointer-events: none;
}

.App-header {
  background-color: #233D4D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.post-data {
  width: 90%;
  margin: 0 auto;
}

.app-body {
  position: relative;
}

.container {
  position: relative;
}

body .p-inputtext {
  font-size: 16px;
}

@media screen and (min-width: 701px) {
  .app-body {
    margin-left: 180px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
